
#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    z-index: 9999;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    right: 0;
}

#dismiss {
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #ccc;
    color: #343A41;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

/* TOGGLER */
#sidebarCollapse{
    position: fixed;
    top: 15vh;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 25px;
}

#sidebarCollapse:hover{
    background-color: #1b1b1b;
}
